@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
 
  background: linear-gradient(
    to bottom right,
    #005fd3,
    #19d7e5
  ); 

  background-attachment: fixed; 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
}

body > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
